/* CSS */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 100px;
    /* bottom = footer height */
}

footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    /* height: 20px; */
}

.top-25{
    margin-top: 25%;
}

.top-18{
	margin-top: 18%;
}

.top-12{
	margin-top: 10%;
}

.top-8{
    margin-top:  8%;
}

.top-6{
    margin-top:  6%;
}

.top-5{
	margin-top: 5%;
}

.top-4{
    margin-top: 4%;
}

.border-test{
	border: 1px solid black;
}

/* DROPDOWN HOVER - MENU NAVBAR */
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
 }

 /* #navbar{
    background-color: #2DB0B8;
 }
 */
#logo{
    color: white;
 }

 .font-navbar{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
 }